body {
  font-family: 'Lora', serif; 
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: #476582; 
  border-bottom: 2px solid #000000;
  font-family: 'Lora', cursive;
}

.pictureMe {
  width: 80%;
  max-width: 250px;
  height: auto; 
  margin: 2rem auto; 
  border-radius: 20%; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s, box-shadow 0.3s;
}

.pictureMe:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.profil {
  text-align: center; 
  font-size: 2rem; 
  color: #333; 
  margin: 0; 
}

.name {
  font-size: 2em; 
  color: #1e1717d4; 
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .profil {
    font-size: 1.5rem; 
  }

  .name {
    font-size: 1.5em;
  }
  .pictureMe{
    width: 60%; 
  max-width: 60px; 
  height: auto; 
  }
}

@media (prefers-reduced-motion: no-preference) {}



