body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

footer {
  display: flex;
  flex-direction: column; /* Changer en colonne pour les petits écrans */
  align-items: center;
  justify-content: center; /* Centrer le contenu */
  background-color: #476582;
  padding: 10px 20px;
  text-align: center; /* Centrer le texte */
}

/* Styles pour les icônes et les liens */
.lien-icone {
  margin: 0 10px; /* Espacement horizontal */
  display: inline-block; /* Pour que le hover fonctionne correctement */
}

.lien-icone:hover {
  opacity: 0.7; /* Légèrement plus visible au survol */
}

/* Media Queries pour rendre le footer responsive */
@media (min-width: 768px) {
  footer {
    flex-direction: row; /* Revenir à la ligne pour les grands écrans */
  }

  .lien-icone {
    margin-left: 20px; /* Plus d'espacement sur les grands écrans */
  }
}