h2 {
  font-size: 2em; 
  color: #1e1717d4; 
  margin: 10px 2px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 35px;
  text-align: center;
}

.logo-slider {
  display: flex; 
  overflow: hidden; /* Cache les logos hors de la zone visible */
  white-space: nowrap; /* Empêche les logos de se déplacer sur plusieurs lignes */
  width: 100%; /* S'assure que le conteneur prend toute la largeur disponible */
}

.logo {
  width: 80px; /* Ajuste la taille des logos pour un meilleur rendu sur mobile */
  margin: 0 15px; /* Espacement entre les logos */
  display: inline-block;
  animation: slide 10s linear infinite; /* Animation pour le défilement */
}

/* Keyframes pour l'animation de défilement */
@keyframes slide {
  0% {
    transform: translateX(100%); /* Commence à droite */
  }
  100% {
    transform: translateX(-100%); /* Défile vers la gauche et sort */
  }
}

/* Media Queries pour ajuster la taille des logos sur les écrans plus petits */
@media (max-width: 768px) {
  .logo {
    width: 60px; /* Réduire la taille des logos sur les petits écrans */
  }
}
