h3 {
  font-size: 2em; 
  color: #1e1717d4; 
  margin: 10px 2px;
  padding-left: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
}

#projets .wrapper {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; /* Permet le retour à la ligne */
  gap: 20px; 
}

#projets article {
  flex: 1 1 calc(30% - 20px); /* Ajuste à 30% pour trois colonnes sur les écrans larges */
  max-width: 500px; /* Limite la largeur maximale */
  height: 270px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.overlay {
  padding: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  margin: 12px;
} 

#projets .article h4 {
  background-color: white; /* Arrière-plan blanc */
  color: black; /* Couleur du texte */
  border-bottom: 1px solid #ddd; /* Bordure inférieure */
  padding: 10px 20px; /* Espacement interne */
  text-transform: uppercase; /* Mettre le texte en majuscule */
  margin-bottom: 20px;
  text-align: center; /* Centrer le texte */
  border-radius: 5px; /* Coins arrondis */
  display: inline-block; /* Affichage en ligne pour que l'arrière-plan s'adapte au texte */
}


#projets p {
  text-align: center;
  margin-bottom: 20px;
}

.button-2 {
  color: #fff;
  background-color: #083467;
  padding: 6px 20px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.button-2:hover {
  color: #fff;
  background-color: rgb(19, 107, 214);
}
.projet1, .projet2, .projet3 {
  display: inline-block; 
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 500px; 
  height: 400px; 
  margin: 20px; 
  padding: 0px; 
}
.projet1{
  background-image: url("./src/images/projet1.png");
  margin-right: 30px;
}

.projet2 {
  background-image: url("./src/images/projet2.png");
}

/* Media Queries pour rendre les projets plus responsives */
@media (max-width: 768px) {
  #projets article {
      flex: 1 1 calc(100% - 20px); /* 100% de la largeur sur les petits écrans */
  }

  .projet1, .projet2, .projet3 {
      width: 100%; /* Prend toute la largeur disponible sur mobile */
      height: 250px; /* Ajuste la hauteur pour mobile */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #projets article {
      flex: 1 1 calc(45% - 20px); /* 2 colonnes sur tablettes */
  }
}


  /* .projet3{

  } */